img {
   width: 500px;
   margin-top: 10px;
   margin-left: 150px;
}

li {
   float: left;
   list-style: none;
   padding: 50px;
}

nav {
   float: right;
   margin-top: 60px;
   margin-right: 500px;
}

a {
   text-decoration: none;
   font-family: 'calibri';
   color: black;
   font-size: 25px;
}

li:hover a{
   background-color: black;
   color: white;
   transition: 700ms;
}

header {
   background-color: #6D6D6A;
}